python3
go
assetfinder
subfinder
amass
sublist3r
findomain
httprobe
httpx
nuclei
hakrawler
waybackurls
masscan
nmap
anti-burl
Gxss
dalfox
metabigor
knockpy
dnsx
ffuf
shodan
subjack
qsreplace
gospider
anew
gf
wafw00f
dnsrecon
cf-check
naabu
filter-resolved